@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #365050;
}

/* animation */

section img {
    margin-top: -60px;
    position: absolute;
    height: 120px;
}

.animation {
    animation-duration: 1.9s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fastSlide;
    animation-timing-function: linear;
    transform-origin: bottom;
}

@keyframes fastSlide {
    0% {
        transform: translate(0%);
    }

    100% {
        transform: translate(320%);
    }
}


/* end animation */

.title,
.score {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-family: 'Press Start 2P';
    width: 306px;
    font-size: 36px;
    text-align: center;
}

.score h2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    font-size: 28px;
    text-align: center;
}

.logo {
    height: 56px;
    position: absolute;
}

.menu {
    width: 280px;
    margin: auto;
    height: 200px;
}

.menu h2,
.menu-rules h2 {
    text-align: center;
    font-family: system-ui, sans-serif;
    color: #e2e9f0;
    font-size: 2rem;
}

.form-mode,
.form-rules {
    font-family: system-ui, sans-serif;
    color: #e2e9f0;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    justify-content: space-between;
}

.form-mode+.form-mode {
    margin-top: 12px;
}

input[type="radio"] {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    background-color: #b4e0e0;
    font: inherit;
    width: 40px;
    height: 40px;
    border: 4px solid currentColor;
    border: none;
    border-radius: 50%;
    transform: translateY(-0.075em);
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fc2323;
}


input[type="radio"]:checked::before {
    transform: scale(1);
}


/* Menu rules */
.menu-rules {
    width: 280px;
    height: 240px;
    margin: auto;
}

input[type="checkbox"] {
    appearance: none;
    position: absolute;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #b4e0e0;
    transition: 0.2s;
}

input[type="checkbox"]:checked {
    border-radius: 50%;
    background-color: red;
}



/* Menu rules END*/
.play-btn {
    display: flex;
    align-items: center;
    width: 220px;
    height: 50px;
    background-color: #b4e0e0;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.play-btn h2 {
    font-family: 'Press Start 2P';
    color: #596666;
}

/* .score-container {
    width: 99vw;
    display: flex;
}

.score-wins {
    color: #e2e9f0; 
    font-family: Arial, Helvetica, sans-serif;
} */

.container {
    margin: auto;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: #b4e0e0;
    border: dashed 3px #799696;
}

.container>div {
    border: solid 1px #799696;
}

.wormBody {
    background-color: #adff2f;
    border: solid 1px #008000 !important;
}

.wormHead {
    background-color: #008000;
}

.snakeBody {
    background-color: #fc9260;
    border: solid 1px #f75205 !important;
}

.snakeHead {
    background-color: #f75205;
}

.apple {
    background: radial-gradient(#ff4343, #ff0000);
    border-radius: 50%;
}

.fly {
    background-color: black;
}

.hidden {
    display: none;
}

.restart-btns {
    width: 380px;
    padding-top: 32px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

.restart-btns > button {
    width: 120px;
    height: 34px;
    font-size: 16px;
    font-weight: bold;
    background-color: #b4e0e0;
    color: #303636;
    border: none;
    border-radius: 20px;
}

@media(min-width: 900px) {
    .controls {
        display: none;
    }
}

@media(max-width: 900px) {
    .container {
        height: 90vw;
        width: 90vw;
    }

    .controls {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 6px;
    }

    .controls div button {
        margin-left: 28px;
        margin-right: 28px;
    }

    .controls button {
        width: 0px;
        height: 0px;
        padding: 0px;
        border: none;
        background: none;
    }

    #btn-up {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #e2e9f0;
    }

    #btn-down {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid #e2e9f0;
    }

    #btn-right {
        border-top: 25px solid transparent;
        border-left: 50px solid #e2e9f0;
        border-bottom: 25px solid transparent;
    }

    #btn-left {
        border-top: 25px solid transparent;
        border-right: 50px solid #e2e9f0;
        border-bottom: 25px solid transparent;
    }
}