h1 {
    text-align: center;
    color: aliceblue;
}

body {
    background-color: #365050;
}

.container {
    height: 500px;
    width: 500px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(20, 1fr);
    background-color: #b4e0e0;
    border: dashed 3px #799696;
}

.container > div {
    border: solid 1px #799696;
}

.wormBody {
    background-color: greenyellow;
    border: solid 1px green !important; 
}

.wormHead {
    background-color: green;
}

.apple {
   background: radial-gradient(rgb(255, 67, 67), red);
    border-radius: 50%;
}

.fly {
   background-color: black;
}


@media(min-width: 900px) {
    .controls {
    display:none;
    }
}

@media(max-width: 900px) {
    .container {
        height: 90vw;
        width: 90vw;
    }

    .controls {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 6px;
    }
    .controls div button{
        margin-left: 28px;
        margin-right: 28px;
    }
    .controls button {
        width: 0px;
        height: 0px;
        padding: 0px;
        border: none;
        background:none;
    }
    #btn-up {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #e2e9f0;
    }

    #btn-down {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid #e2e9f0;
    }

    #btn-right {
        border-top: 25px solid transparent;
        border-left: 50px solid #e2e9f0;
        border-bottom: 25px solid transparent;
    }

    #btn-left {
        border-top: 25px solid transparent;
        border-right: 50px solid #e2e9f0;
        border-bottom: 25px solid transparent;
    }
}